<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{todo?.id ? 'Edit ToDo' : 'New ToDo'}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>

  <form [formGroup]="todoForm" (ngSubmit)="onSubmit(todoForm.value)" novalidate>
    <ion-item margin-bottom>
      <ion-label stacked>Task name</ion-label>
      <ion-input type="text" formControlName="taskName" spellcheck="true" autocapitalize="true"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="(todoForm.get('taskName').touched || todoForm.get('taskName').dirty) && todoForm.get('taskName').errors">
      <span *ngIf="todoForm.get('taskName').hasError('required')">
        Task name is required.
      </span>
      <span *ngIf="todoForm.get('taskName').hasError('maxlength')">
        Task name max length is {{todoMaxLength}}.
      </span>
    </p>
    <ion-item margin-bottom>
      <ion-label stacked>Link</ion-label>
      <ion-input type="url" formControlName="link" spellcheck="false" autocapitalize="false"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="(todoForm.get('link').touched || todoForm.get('link').dirty) && todoForm.get('link').errors">
      <span *ngIf="todoForm.get('link').hasError('pattern')">
        link should start with http(s):// or www.
      </span>
    </p>
    <ion-item margin-bottom>
      <ion-label stacked>Queueing</ion-label>
      <ion-input type="number" formControlName="queueing" min="0"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="(todoForm.get('queueing').touched || todoForm.get('queueing').dirty) && todoForm.get('queueing').errors">
      <span *ngIf="todoForm.get('queueing').hasError('min')">
        Cannot be negative.
      </span>
      <span *ngIf="todoForm.get('queueing').hasError('required')">
        queueing is required.
      </span>
    </p>
    <ion-item margin-bottom>
      <ion-label>Status: {{todoForm.get('isComplete').value ? 'Complited' : 'Uncomplited'}}</ion-label>
      <ion-toggle formControlName="isComplete"></ion-toggle>
    </ion-item>
    <button ion-button outline type="button" (click)="closeModal()">Cancel</button>
    <button ion-button outline type="submit" [disabled]="!todoForm.valid">{{todo?.id ? 'Edit' : 'Create'}}</button>
  </form>

</ion-content>