<ion-header>

  <ion-navbar color="primary">
    <ion-title>Todo List</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openFilterMenu()" [disabled]="!todos?.length">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab bottom right>
    <button ion-fab color="secondary" (click)="openAddModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <div padding text-center *ngIf="!todos?.length && !isLoading">
    <h3>You have no todos. </h3>
    <h4 class="helper-text">Click
      <ion-icon name="add-circle" (click)="openAddModal()"></ion-icon> to add one.</h4>
  </div>

  <div text-center *ngIf="todos?.length && !isLoading">
    <h3 color="dark" margin-top *ngIf="isAllDone(todos) && initialTodoShow === todoViewStatus.NOTDONE">You finished all your todos.</h3>
    <h3 color="dark" margin-top *ngIf="isOneDone(todos) && initialTodoShow === todoViewStatus.DONE">Finish at least one todo.</h3>
  </div>

  <ion-list *ngIf="todos">
    <ion-item-sliding #slidingList *ngFor="let item of todos">
      <ion-item class="todo-item-wrapper" [class.done]="item?.isComplete" [hidden]="isHidden(item)">

        <!-- Browser view -->

        <p class="todo-text" *ngIf="!isMobile">
          <a class="taskName link" target="_blank" *ngIf="item?.link" href="{{item?.link}}">{{item?.taskName}}</a>
          <span class="taskName" *ngIf="!item?.link">{{item?.taskName}}</span>
          <span class="queueing">{{item?.queueing}}</span>
        </p>

        <button class="btn-edit" ion-button item-end icon-only clear *ngIf="!isMobile" (click)="openEditModal(item)">
          <ion-icon name="create" color="primary"></ion-icon>
        </button>
        <button class="btn-delete" ion-button item-end icon-only clear *ngIf="!isMobile" (click)="openDeleteTodoConfirm(item)">
          <ion-icon name="trash" color="danger"></ion-icon>
        </button>


        <!-- Mobile view -->

        <div class="todo-text" *ngIf="isMobile">
          <span class="taskName">{{item?.taskName}}</span>
          <span class="queueing">{{item?.queueing}}</span>
        </div>

      </ion-item>
      <ion-item-options side="right" *ngIf="isMobile">
        <button ion-button color="secondary" *ngIf="item?.link" (click)="visitLink(item?.link, slidingList)">
          <ion-icon name="link"></ion-icon>
          &nbsp;&nbsp;&nbsp;Link&nbsp;&nbsp;&nbsp;
        </button>
        <button ion-button color="primary" (click)="openEditModal(item, slidingList)">
          <ion-icon name="create"></ion-icon>
          &nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;
        </button>
        <button ion-button color="danger" (click)="openDeleteTodoConfirm(item, slidingList)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<!-- Filter Menu -->

<ion-menu id="todoListMenu" [content]="todoListNav" side="right" type="overlay">

  <ion-header>
    <ion-navbar color="primary">
      <ion-title>Todo filters</ion-title>
      <ion-buttons end>
        <button ion-button icon-only menuClose="todoListMenu">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-content padding-vertical>
    <ion-list class="td-filter-list">
      <ion-item-group>
        <ion-item-divider color="light">Show tasks</ion-item-divider>
        <button menuClose="todoListMenu" ion-item icon-end (click)="setDoneTodoView(todoViewStatus.ALL)" [class.selected]="initialTodoShow === todoViewStatus.ALL">All
          <ion-icon *ngIf="initialTodoShow === todoViewStatus.ALL" name="checkmark"></ion-icon>
        </button>
        <button menuClose="todoListMenu" ion-item icon-end (click)="setDoneTodoView(todoViewStatus.DONE)" [class.selected]="initialTodoShow === todoViewStatus.DONE">Finished
          <ion-icon *ngIf="initialTodoShow === todoViewStatus.DONE" name="checkmark"></ion-icon>
        </button>
        <button menuClose="todoListMenu" ion-item icon-end (click)="setDoneTodoView(todoViewStatus.NOTDONE)" [class.selected]="initialTodoShow === todoViewStatus.NOTDONE">Unfinished
          <ion-icon *ngIf="initialTodoShow === todoViewStatus.NOTDONE" name="checkmark"></ion-icon>
        </button>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider color="light">Order</ion-item-divider>
        <button menuClose="todoListMenu" ion-item class="order-btn" (click)="orderBy()">
          <ion-icon class="label-icon" [name]="orderedBy ? 'arrow-round-down' : 'arrow-round-up'"></ion-icon>
          {{orderedBy ? 'A-Z' : 'Z-A'}}
        </button>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider color="light">Sort By</ion-item-divider>
        <button menuClose="todoListMenu" ion-item icon-end (click)="sortBy(sortTypes.CREATED)" [class.selected]="initialSortBy === sortTypes.CREATED">Created
          <ion-icon *ngIf="initialSortBy === sortTypes.CREATED" name="checkmark"></ion-icon>
        </button>
        <button menuClose="todoListMenu" ion-item icon-end (click)="sortBy(sortTypes.MODIFIED)" [class.selected]="initialSortBy === sortTypes.MODIFIED">Modified
          <ion-icon *ngIf="initialSortBy === sortTypes.MODIFIED" name="checkmark"></ion-icon>
        </button>
        <button menuClose="todoListMenu" ion-item icon-end (click)="sortBy(sortTypes.QUEUEING)" [class.selected]="initialSortBy === sortTypes.QUEUEING">Queueing
          <ion-icon *ngIf="initialSortBy === sortTypes.QUEUEING" name="checkmark"></ion-icon>
        </button>
      </ion-item-group>
    </ion-list>

  </ion-content>
</ion-menu>

<ion-nav #todoListNav></ion-nav>