page-todo-list {

    .todo-item-wrapper {
        ion-label {
            white-space: normal;
            .date {
                display: block;
                font-size: 12px;
                margin-top: 5px;
            }
        }
        &.done {
            text-decoration: line-through;
            color: #666;
            .todo-text {
                color: #666;
    
            }
            ion-icon {
                color: rgba(0, 0, 0, 0.25);
            }
        }

        .todo-icon-status {
            font-size: 2.8rem;
        }
    }

}
