<ion-header>

  <ion-navbar color="primary">
    <ion-title>Todo List</ion-title>
  </ion-navbar>

  <ion-segment [(ngModel)]="initialSortBy" color="primary" mode="md" (ionChange)="sortBy($event.value)" [disabled]="!todos?.length">
    <ion-segment-button value="{{sortTypes.CREATED}}">
      Created
    </ion-segment-button>
    <ion-segment-button value="{{sortTypes.MODIFIED}}">
      Modified
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab bottom right>
    <button ion-fab color="secondary" (click)="openAddModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <div padding text-center *ngIf="!todos?.length">
    <h3>You have no todos. </h3>
    <h4 class="helper-text"> Click
      <ion-icon name="add-circle" (click)="openAddModal()"></ion-icon> to add one.</h4>
  </div>

  <ion-list *ngIf="todos">
    <ion-item-sliding #slidingList *ngFor="let item of todos">
      <ion-item class="todo-item-wrapper" [class.done]="item?.isComplete">
        <ion-icon item-start *ngIf="!item?.isComplete" name="square-outline" (click)="updateStatus(item)"></ion-icon>
        <ion-icon item-start *ngIf="item?.isComplete" name="checkbox-outline" (click)="updateStatus(item)"></ion-icon>
        <div class="todo-text">
          <span>{{item?.taskName}}</span>
          <span class="date" *ngIf="initialSortBy === sortTypes.CREATED">Created: {{item?.CreatedOn | date: 'dd/MM/yyyy'}}</span>
          <span class="date" *ngIf="initialSortBy === sortTypes.MODIFIED">Modified: {{item?.ModifiedOn | date: 'dd/MM/yyyy'}}</span>
        </div>
        <ion-icon item-end name="link" color="dark" *ngIf="item.link" (click)="visitLink(item.link)"></ion-icon>
        <ion-icon item-end name="create" color="primary" *ngIf="!isMobile" (click)="openEditModal(item)"></ion-icon>
        <ion-icon item-end name="trash" color="danger" *ngIf="!isMobile" (click)="deleteTodo(item)"></ion-icon>
      </ion-item>
      <ion-item-options side="right" *ngIf="isMobile">
        <button ion-button color="primary" (click)="openEditModal(item, slidingList)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger" (click)="deleteTodo(item, slidingList)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>